
<div class="chat-container">

    <div class="chat-messages">
        <div class="grid gap-y-2"> 
             <!-- Chat Messages -->
              <app-chat-message
              text="Escribe el texto que quieres que revise..."/>

              <app-my-message
              text="Hola como estás?"
              />

              <app-typing-loader/>

        </div>
    </div>

    <!-- MessageBox -->
     <!-- <app-text-message-box
     placeHolder="Escribe aqui lo que deseas"
     (onMessage)="handleMessage($event)"
     /> -->
    <app-text-message-box-file
    placeHolder="Escribe aqui lo que deseas"
    (onMessage)="handleMessageWithFile($event)"/>


</div>